name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Set a branch to deploy from

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm install --prefix docs

      - name: Build website
        run: npm run build --prefix docs

      # Popular ways to deploy to GitHub Pages
      # Part 1: https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site#publishing-your-site
      # Part 2: https://docs.github.com/en/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site
      # For Docusaurus, a GitHub Pages deploy should be as simple as building and pushing to gh-pages branch.
      # You can also use the default deployment branch if you would like to.
      # For more information, see https://docusaurus.io/docs/deployment#deploying-to-github-pages

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
